header{
  width:100%; 
  background-color: bisque;
   height:120px;
}
#logo{
  float:left; 
  margin:10px; 
  width:100px; 
  height:100px;
}
nav{
  background-color: bisque;
  width:960px;
  clear:both;
  box-sizing: border-box;
  margin:0 auto;
}
main{
  width:960px;
  box-sizing: border-box;
  margin:0 auto;
}
section{
    background-color: bisque;
    width:700px;
    height: auto;
}
.leftimg {
    float:left; 
    margin: 7px 7px 7px 0; 
    width: 50px;
    height: 50px;
   }
#tr1,#tr3,#tr5{
  background-color:#CD5C5C;
}
#tr2,#tr4{
  background-color:#DDA0DD;
}
footer{
  width:100%; 
  background-color: bisque; 
  padding: 10px; 
  height:30px;
}